.layout {
	color: white;
	border-radius: 10px;
	padding-bottom: 2em;
}

.grid {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: flex-start;
	flex-wrap: wrap;
}

.item {
	margin: 0.5em 0.4em;
}

h1 {
	margin-bottom: 0px;
	margin-left: 0.3em;
	cursor: pointer;
	user-select: none;
}
