.layout {
	color: white;
	background-color: rgb(26, 0, 29);
	border-radius: 10px;
	padding-bottom: 2em;
}

.grid {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-around;
	flex-wrap: wrap;
}

.item {
	margin-top: 1em;
}

h1 {
	margin-bottom: 0px;
	margin-left: 0.3em;
	cursor: pointer;
}
