.wrapper {
	background-color: rgb(31, 26, 36);
	color: white;
	display: flex;
	flex-direction: row;
	padding: 2em 2em 2em 1em;
	align-items: center;
	justify-content: space-between;
}

.logo {
	font-size: 25px;
	margin-bottom: 0;
	margin-top: 0;
}

#spotifyText {
	color: #1ed760;
	margin-right: 1px;
}

.sections {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	gap: 3em;
	align-items: center;
}

p {
	font-size: 20px;
	font-weight: 400;
	cursor: pointer;
}
